# ... 既存の設定 ...
model/LapSRN_x4.pb
model/LapSRN_x2.pb
model/LapSRN_x8.pb
logs/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

old_implementations/
poetry.lock

*.safetensors
*.safetensors.index.json

# mypy
.mypy_cache/